<div class="container">


  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.telegraph.co.uk/content/dam/Travel/hotels/africa/morocco/marrakech/la-mamounia-marrakech-italian-bar.jpg?imwidth=1400);">
  <div class="container">
    <h1>Mr.<strong>Cocktail</strong></h1>
  </div>
</div>


  <button class="btn btn-success"> <%= link_to 'Create a new Cocktail ;)', new_cocktail_path %></button>

<div class="container mt-4">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill  if cocktail.photo.attached?%>')">


        <h3 id="card-text"><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash-alt" id="cards"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
