// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "banner";

body {
  background-color: #275451
}


.ingredients-text {
   display: flex;
  justify-content: center;

}

.ingredients {
 display: flex;
}
